<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
          <img src="assets/img/brand/argon-white.png" />
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
           aria-controls="sidenav-collapse-main">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img src="assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed" >
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav mr-auto" routerLinkActive="active">
			<li class="nav-item"><a href="/home" class="nav-link" routerLink="home">Home </a></li>
			<li class="nav-item" *ngIf="showAdminBoard"><a href="/admin" class="nav-link" routerLink="admin">Admin Board</a></li>
			<li class="nav-item" *ngIf="showModeratorBoard"><a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a></li>
			<li class="nav-item"><a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a></li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
			<li class="nav-item"><a href="/register" class="nav-link" routerLink="register">Sign Up</a></li>
			<li class="nav-item"><a href="/login" class="nav-link" routerLink="login">Login</a></li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
			<li class="nav-item"><a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a></li>
			<li class="nav-item"><a href class="nav-link" (click)="logout()">LogOut</a></li>
		</ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
 

