<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Welcome To our Website  <strong>Tunisia Camp</strong> </h1>
        <p class="text-white mt-0 mb-5">This is your website for everything related to camping in Tunisia from north to south,if you have un accout please login and if you are new register and enjoy our services </p>
        <div>
          <h6 class="text-muted py-5">{{ content }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

