<div>
  <h6 class="text-muted py-5"></h6>
</div>
<div class="row" style="margin: 5px;">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Users Table</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">id</th>
              <th scope="col">email</th>
              <th scope="col">name</th>
              <th scope="col">creation date</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users">
            <tr>
              <th scope="row">
                <div class="media align-items-center">

                  <div class="media-body">
                    <span class="mb-0 text-sm">{{user.id}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{user.email}}
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-warning"></i> {{user.displayName}}
                </span>
              </td>
              <td>
                <div class="avatar-group">
                  {{user.createdDate}}
                </div>
              </td>
              <td>
              
                  <button (click)="removeUser(user.id)" type="button"  >
                 
                      <img style="height: 25px; width: 20px;" src="https://png.pngtree.com/png-vector/20190420/ourmid/pngtree-delete-vector-icon-png-image_963444.jpg" alt="">
                   
                  </button>
            
              </td>

            </tr>            
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
       
      </div>
    </div>
  </div>
</div>
